@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --base-font-size: 15px;

  --accent-background: #FFDD9B;
  --accent-foreground: #D98F00;

  --frontend-background: #FFC2EE;
  --frontend-foreground: #C878B1;

  --backend-background: #D5CEFF;
  --backend-foreground: #8677E1;

  --design-background: #FFDD9B;
  --design-foreground: #D98F00;

  --tool-background: #AAF0FF;
  --tool-foreground: #56B0C3;

  --misc-background: #B4FFB7;
  --misc-foreground: #70B974;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  font-size: var(--base-font-size);
  line-height: 180%;
  font-weight: 470;
  letter-spacing: -0.2px;
}
