@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-font: 15px;

  --default-foreground: #09090b;
  --default-background: #fafafa;
  --default-accent: hsla(0, 0%, 4%, 0.4);

  --secondary-background: #d9d9d9;

  --frontend-background: #ffdd9b;
  --frontend-foreground: #d98f00;

  --backend-background: #b4ffb7;
  --backend-foreground: #70b974;

  --design-background: #ffc2ee;
  --design-foreground: #c878b1;

  --tool-background: #aaf0ff;
  --tool-foreground: #56b0c3;

  --misc-background: #d5ceff;
  --misc-foreground: #8677e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --default-foreground: #b8b8b8;
    --default-background: #09090b;
    --default-accent: hsla(0, 0%, 98%, 0.2);

    --secondary-background: #111111;

    --frontend-background: #3b2800;
    --frontend-foreground: #d98f00;

    --backend-background: #003501;
    --backend-foreground: #539657;

    --design-background: #4e0038;
    --design-foreground: #c878b1;

    --tool-background: #002e38;
    --tool-foreground: #56b0c3;

    --misc-background: #1c1546;
    --misc-foreground: #8677e1;
  }
}

html {
  font-size: var(--base-font);
}

body {
  color: var(--foreground-rgb);
  line-height: 180%;
}
