@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --base-font: 14px;

  --default-foreground: #000000;
  --default-background: #FFFFFF;

  --secondary-background: #D9D9D9;

  --frontend-background: #FFC2EE;
  --frontend-foreground: #C878B1;

  --backend-background: #D5CEFF;
  --backend-foreground: #8677E1;

  --design-background: #FFDD9B;
  --design-foreground: #D98F00;

  --tool-background: #AAF0FF;
  --tool-foreground: #56B0C3;

  --misc-background: #B4FFB7;
  --misc-foreground: #70B974;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --default-foreground: #FFFFFF;
    --default-background: #000000;

    --secondary-background: #111111;
  }
}

html {
  font-size: var(--base-font);
}

body {
  color: var(--foreground-rgb);
  line-height: 180%;
}
